@keyframes growFromBottom {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(1);
    }
}

.top3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
    border-bottom: 3px solid black;
    font-family: "Roboto", sans-serif;

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: scaleY(0);
        transform-origin: bottom;
        animation: growFromBottom .5s ease-out forwards;

        & > p {
            font-size: 2rem;
            margin-bottom: .5rem;
            font-weight: bold;
        }
    }

    &__podium {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem;
        width: 100%;
        width: 14rem;
        box-shadow: .3rem 0rem 0.4rem rgba(0, 0, 0, 0.1);
        font-size: 1.6rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin: 0 3rem;

        &-text {
            font-weight: bold;
            font-size: 3rem;
            margin-bottom: 1rem;

            sup {
                font-weight: 400;
                font-size: 1.6rem;
            }
        }

        &--1 {
            background-color: gold;
            height: 20rem;
        }

        &--2 {
            background-color: silver;
            height: 15rem;
        }

        &--3 {
            background-color: #cd7f32;
            height: 10rem;
        }
    }
}

.list-from-4 {
    // style the ul like a table list
    display: flex;
    flex-direction: column;
    grid-row: 3 / 4;
    font-size: 2rem;
    list-style: none;
    font-family: Roboto, sans-serif;

    &__header, &__item {
        display: grid;
        grid-template-columns: .3fr 1fr 1fr;
        padding: 1rem;
    }

    &__header {
        font-weight: 700;
        border-bottom: 3px solid #ddd;
        font-size: 1.4rem;
    }
}
