.container {
    padding: 5rem 7rem;
    display: grid;
    grid-template-columns: 4fr 3fr;
    min-height: 100vh;
    row-gap: 4rem;
    column-gap: 6rem;
    grid-template-rows: min-content;

    @media only screen and (max-width: 38.125em) {
        padding: 5rem 2rem;
    }

    &__title {
        grid-column: 1 / -1;

        h1 {
            margin-bottom: 0rem;
        }

        h3 {
            margin-top: 0rem;
            font-size: 2rem !important;
        }

    }

    &__error {
        grid-column: 1 / -1;
        font-style: italic;
        font-size: 1.6rem;
    }
}
