@import "../../../container";

.container {
    @include container;
    row-gap: 2rem;
    column-gap: 6rem;
    grid-template-rows: min-content min-content min-content;

    &__date-summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        @media only screen and (max-width: 42.875em) {
            grid-template-columns: 1fr;
        }
    }
}
