.h1 {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    font-family: var(--font-heading), sans-serif;
}

.h2 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-family: var(--font-heading), sans-serif;
}

.h3 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    font-family: var(--font-heading), sans-serif;
}

.h4 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    font-family: var(--font-heading), sans-serif;
}

.h5 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0.75rem;
    font-family: var(--font-heading), sans-serif;
}
