.grouplist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    grid-template-rows: auto;
    justify-content: center;

    &__item {
        border: 1px solid #eee;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-button {
            font-size: 1.6rem;
            padding: 1rem;
            background-color: #f4f4f4;
            border: none;
            color: #333;
            cursor: pointer;
            text-align: left;
            transition: background-color 0.3s;
            text-decoration: none;

            &:hover {
                background-color: #e9e9e9;
            }
        }
    }
}
