.container {
    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        &-persons {

            h5 {
                grid-column: 1 / -1;
            }

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            & > div {
                flex-direction: row;
                column-gap: 2rem;
                
                label {
                    font-style: italic;
                    font-family: "Roboto", sans-serif;
                }
            }
        }

        &-button {
            font-size: 1.6rem;
            padding: 1rem;
            background-color: #f4f4f4;
            border: none;
            color: #333;
            cursor: pointer;
            text-align: left;
            transition: background-color 0.3s;
            text-decoration: none;

            &:hover {
                background-color: #e9e9e9;
            }
        }
    }
}
