.sign-up {
    &__background {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;

        @media only screen and (max-width:34.0625em ) {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        border: 1px solid #eee;
        padding: 4rem;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        background-color: white;
        @media only screen and (max-width:34.0625em ) {
            height: 100%;
            width: 100%;
        }

        h1 {
            font-weight: bold;
        }
    }

    &__text {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-style: italic;
    }

    &__input {
        font-size: 1.6rem;
        padding: 1rem;
        border: 1px solid #ccc;
        margin-bottom: 2rem;
    }

    &__message {
        // Yellow container 
        background-color: #f4f4f4;
        padding: 1rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
}

.button {
        font-size: 1.8rem;
        padding: 1rem;
        background-color: #0A122A; 
        border: none;
        color: white;
        cursor: pointer;
        text-align: left;
        transition: background-color 0.3s;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        margin-bottom: 1rem;

        &:hover {
            background-color: #0A122A;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }
