@import "../container";

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;

    @media only screen and (max-width: 55em) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }
}

.innerContainer {
    @include container;
    grid-template-rows: min-content min-content min-content;

    &__error {
        grid-column: 1 / -1;
        font-style: italic;
        font-size: 1.6rem;
    }
}
