@import "../../../container";

.container {
    @include container;
    row-gap: 2rem;
    column-gap: 6rem;
    grid-template-rows: min-content min-content min-content;

    &__unit {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        &-button {
            font-size: 1.6rem;
            padding: 1rem;
            background-color: #f4f4f4;
            border: none;
            color: #333;
            cursor: pointer;
            text-align: left;
            transition: background-color 0.3s;
            text-decoration: none;

            &:hover {
                background-color: #e9e9e9;
            }
        }
    }
}
