.container {
    padding: 5rem 7rem;
    display: grid;
    min-height: 100vh;
    row-gap: 2rem;
    column-gap: 6rem;
    grid-template-rows: min-content min-content min-content;

    @media only screen and (max-width: 38.125em) {
        padding: 5rem 2rem;
    }

    &__title {
        grid-column: 1 / -1;

        h1 {
            margin-bottom: 0rem;
        }

        h3 {
            margin-top: 0rem;
            font-size: 2rem !important;
        }

    }

    &__unit {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        &-button {
            font-size: 1.6rem;
            padding: 1rem;
            background-color: #f4f4f4;
            border: none;
            color: #333;
            cursor: pointer;
            text-align: left;
            transition: background-color 0.3s;
            text-decoration: none;

            &:hover {
                background-color: #e9e9e9;
            }
        }
    }
}
